<header class="herobanner">

  <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
  <div class="overlay"></div>

  <!-- The HTML5 video element that will create the background video on the header -->
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https:/static.videezy.com/system/resources/previews/000/018/160/original/ICON-VERSION6.mp4" type="video/mp4">
  </video>

  <!-- The header content -->
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="text-white">
        <h1 class="display-3" style="color: rgb(245, 230, 230);">TheTechHarvest</h1>
        <p class="lead mb-0">Technology as a business enabler</p>
      </div>
    </div>
  </div>
</header>
