<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="angular-video-background.min.css"> -->
  <title>Document</title>
</head>

<body>
  <app-contact-form></app-contact-form>
<video width="400" controls>
  <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
  <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/ogg">
  Your browser does not support HTML video.
</video>

</body>
<!-- <script type="text/javascript" src="angular-video-background.min.js"></script> -->
</html>
