<!-- <div class="container">
  <div class="row">
    <div class="col-8">
      <div >
        <img src="https://images.unsplash.com/photo-1610629386764-04fb0bffc0b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
         alt="Who we are image" class="responsive" width="600" height="400">
      </div>
    </div>
    <div class="col-4">
      <div  class="container">
       We are a 2-year-old technology startup with a passion for developing innovative content management solutions for businesses.
       Our team has extensive expertise in platforms like Sitefinity and we're proud to be a product partner of Progress.
       Our mission is to empower businesses to take control of their digital presence and enhance customer experiences.
       We believe in the power of technology to transform the way people do business, and we're committed to providing our clients with cutting-edge solutions that help them stay ahead of the curve.
      </div>
    </div>
  </div>
</div> -->
<div class="container mb-lg-5">
  <div class="row no-gutters">
    <div class="col-md-6">
      <div class="container">
        <img src="https://images.unsplash.com/photo-1610629386764-04fb0bffc0b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" class="card-img" alt="...">
      </div>

    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="card-body">
          <h1 class="card-title">Who we are</h1>
        <p class="card-text">We are a 2-year-old technology startup with a passion for developing innovative content management solutions for businesses.
          Our team has extensive expertise in platforms like Sitefinity and we're proud to be a product partner of Progress.
          Our mission is to empower businesses to take control of their digital presence and enhance customer experiences.
          We believe in the power of technology to transform the way people do business, and we're committed to providing our clients with cutting-edge solutions that help them stay ahead of the curve.</p>
        </div>
      </div>
 <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>


